USE [master]
GO
/****** Object:  Database [TodoList]    Script Date: 2/10/2025 6:54:16 PM ******/
CREATE DATABASE [TodoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TodoList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TodoList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoList]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/10/2025 6:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 2/10/2025 6:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250208041837_InitialMigration', N'7.0.20')
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([TaskId], [Title], [Description], [DueDate], [IsCompleted]) VALUES (25, N'Titleee8d72bf-e36b-45f0-8e9e-c913f1b75d0f', N'Description844c4fcc-429b-4778-9761-7b8c94c9ba42', CAST(N'2026-07-08T13:33:13.6847585' AS DateTime2), 1)
INSERT [dbo].[Task] ([TaskId], [Title], [Description], [DueDate], [IsCompleted]) VALUES (26, N'Title5bebf0a5-f117-41c1-a006-a25919e7f30e', N'Description7bd4c7bc-a411-4072-9781-2cdd74eb0499', CAST(N'2026-08-06T12:02:49.0274996' AS DateTime2), 0)
INSERT [dbo].[Task] ([TaskId], [Title], [Description], [DueDate], [IsCompleted]) VALUES (27, N'Title466e6f0f-882d-4276-a7d4-93fe3d3875e0', N'Descriptioneb0c8314-1c22-42ad-a3f8-4a8ac05b68df', CAST(N'2025-02-19T04:06:06.0700983' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
USE [master]
GO
