<div class="m-5 w-25">
    <h1>Task Details</h1>
    @if (taskModel) {
        <h5><b>Title</b>: {{taskModel.title}}</h5>
        <h5><b>Description</b>: {{taskModel.description}}</h5>
        <h5><b>Due date</b>: {{taskModel.dueDate}}</h5>
        <div class="d-flex">    
            @if (taskModel.isCompleted) {
                <h5 style="color: green;">
                    <mat-icon>check</mat-icon> Completed
                </h5>
            }
            @else {
                <h5 style="color: gray;">
                    <mat-icon>timer</mat-icon> Pending
                </h5>
            }
            <mat-checkbox [checked]="taskModel.isCompleted" (change)="setTaskCompleted($event)"></mat-checkbox>
        </div>
    }
    <div>
        <button class="mt-4 me-2" mat-button routerLink="/" style="background-color: green; color: white;">
            <mat-icon>chevron_left</mat-icon> Return to List
        </button>
        <button class="mt-4 me-2" mat-button routerLink="/task-edit/{{taskId}}" style="background-color: #ffc107; color: white;">
            <mat-icon>edit</mat-icon> Edit
        </button>
        <button class="mt-4" mat-button routerLink="/" (click)="deleteTask()" style="background-color: #dc3545; color: white;">
            <mat-icon>delete</mat-icon> Remove
        </button>
    </div>
</div>